* {
    margin: 0;
    box-sizing: border-box;
}

.kopf {
    height: 140px;
    border-bottom: 5px solid;
    border-color: #b0c6f2;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kopf h1 {
    font-size: 2.5em;
    color: blue;
}

.main {
    background-color: #4a4b4d3a;
    height: calc(100% - 145px);
    display: grid;
    grid-template-columns: 9fr 1fr;
}
/*----------------------------------------------------------------plus button--------------------------------------------------------*/
.dazu {
    display: flex;
    padding-top: 30px;
    margin-right: 100px;
    justify-content: center;
}
.add_new {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width:50px;
    border: 2px solid;
    border-color: #393a3c;
    border-radius:100%;
    font-size: 2em;

    grid-row: 2;
}
.add_new:hover {
    scale: 105%;
}
/*----------------------------------------------------------------Buch Anzeige--------------------------------------------------------*/
.container {
    grid-row: 1;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
}
/*----------------------------------------------------------------Einzelne Bücher--------------------------------------------------------*/
.buch {


    display: grid;

    width: 250px;
    height: 500px;
    border: 10px groove;
    border-color: #654321;
    background-color: #65432171;
    border-radius: 5px;
    padding: 1%;
    margin: 20px;
    font-size: 1.5em;
    line-height: 30px;
    justify-items: stretch;
    text-align: center;

}
.buch h2 {
    padding-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.buch p {
    margin-top: 20px;
    font-size: 1.2em;
}
.knopf {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 1px solid grey;

}
.btn {
    margin: 20px;
    font-size: 130%;   
}
.btn:hover {
    scale: 110%;
}

.delete-book {
    display: none;
}
/*----------------------------------------------------------------Form button--------------------------------------------------------*/
.form {
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 15vh;
    left: 25%;
    right: 25%;

    width: 50%;
    padding: 20px;

    display: flex;
    flex-direction: column;

    background-color: #165552;
    color: white;

    text-align: center;

    border: 2px solid;
    border-color: #b0c6f2;

    animation: ausblenden 0.2s;
}
.form_da{
    opacity: 1;
    pointer-events: all;
    animation: einblenden 0.2s;
}
.felder{
    margin-top: 20px;
    font-size: 2em;

}

.check{
    display: flex;
    justify-content: left;
    font-size: 1.3em;
    margin-top: 20px;
    padding-right: 20px;
}
.read {
    padding-right: 20px;
}
.box {
    font-size: 2em;
}
.container_form {
    display: flex;
    justify-content:center;
    margin-top: 100px;
}
.btn_form {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2em;
    border: 2px solid;
    border-color: #308580;
}
.btn_form:hover {
    scale: 105%;
}
/*-------------------------background---------------------------------------------------------------------*/
.kopf {
    --s: 45px; /* control the size */
    --c1: #b0c6f273;
    --c2: #dcdcdc41;
    --c3: #fafafa38;
  
    background:
      conic-gradient(from 75deg,var(--c1)   15deg ,var(--c2) 0 30deg ,#0000 0 180deg,
                                var(--c2) 0 195deg,var(--c1) 0 210deg,#0000 0) 
         calc(0.5*var(--s)) calc(0.5*var(--s)/0.577),
      conic-gradient(var(--c1)   30deg ,var(--c3) 0 75deg ,var(--c1) 0 90deg, var(--c2) 0 105deg,
                     var(--c3) 0 150deg,var(--c2) 0 180deg,var(--c3) 0 210deg,var(--c1) 0 256deg,
                     var(--c2) 0 270deg,var(--c1) 0 286deg,var(--c2) 0 331deg,var(--c3) 0);
    background-size: var(--s) calc(var(--s)/0.577);
    /* 0.577=tan(30deg)*/
  }

  @keyframes einblenden {
    0%  {scale: 0%}
    100%    {scale: 100%}
  }
@keyframes ausblenden {
    0%  {scale: 100%}
    100%    {scale: 0%}
}